
.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: solid 1px #FFFFFF;
	background: #262626;
	z-index: 100;
}
.header_content
{
	
	width: 100%;
	height: 101px;
}
.header.scrolled .header_content
{
	height: 65px;
}
.logo
{
	left: -30px;
}
.logo > div
{
	font-size: 28.3px;
	line-height: 0.75;
	color: #FFFFFF;
	font-weight: 700;
}
.logo > div span
{
	font-weight: 300;
	text-transform: uppercase;
}
.main_nav
{
	margin-left: 120px;
}
.main_nav ul li:not(:last-of-type)
{
	margin-right: 65px;
}
.main_nav ul li a
{
	font-size: 16px;
	font-weight: 300;
	color: #fff;
}
.main_nav ul li.active a,
.main_nav ul li a:hover
{
	color: #ff9711;
}
.phone
{
	height: 43px;
	padding-left: 23px;
	padding-right: 20px;
	border-radius: 22px;
	border: solid 1px #ff9711;
	box-shadow: 0 0 1px 0 #ff9711 inset, 0 0 1px 0 #ff9711;
}
.phone i
{
	font-size: 18px;
	color: #ff9711;
	margin-right: 12px;
}
.phone > div
{
	font-size: 16px;
	font-weight: 300;
	color: #fff;
}
.hamburger_bar
{
	position: fixed;
	top: 0;
	right: calc((100vw - 690px) / 2 - 15px);
	width: auto;
	height: 101px;
	z-index: 102;
}
.hamburger_bar.scrolled
{
	height: 65px;
}
.hamburger
{
	display: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0px;
	cursor: pointer;
	padding: 15px;
	z-index: 2;
}
.menu_toggle
{
	display: block;
}
.menu_hamburger
{
	display: block;
	position: relative;
	width: 12px;
	height: 12px;
}
.hamburger_lines
{
	display: block;
	position: absolute;
	left: 0px;
	width: 100%;
	height: 2px;
	background: #F7F7F7;
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-ms-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
	transform-origin: center center;
}
.line_1
{
	top: 0px;
}
.line_2
{
	top: 5px;
}
.line_3
{
	top: 10px;
}
.hamburger.active .line_1
{
	transform: translateY(5px) rotate(45deg) !important;
}
.hamburger.active .line_3
{
	transform: translateY(-5px) rotate(-45deg) !important;
}
.hamburger.active .line_2
{
	opacity: 0 !important;
}
.menu_toggle span
{
	display: block;
	position: relative;
	font-size: 16px;
	font-weight: 700;
	line-height: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #F7F7F7;
	margin-top: 1px;
}