<!DOCTYPE html>
<html lang="en">
<head>
<title>Blog</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="SportFIT template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="post.component.css">
</head>
<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-start trans_400">
						<a href="#">
							<div class="logo d-flex flex-row align-items-center justify-content-start"><img src="assets/dot.png" alt=""><div>FIT<span>-TOGETHER</span></div></div>
						</a>
                        <nav class="main_nav">
							<ul class="d-flex flex-row align-items-center justify-content-start">
								<li><a [routerLink]="['/Acceuil']">Acceuil</a></li>
								<li><a [routerLink]="['/about-us']">A Propos</a></li>
								<li><a [routerLink]="['/service']">Services</a></li>
								<li class="active"><a [routerLink]="['/post']">Post</a></li>
								<li><a [routerLink]="['/contact']">Contact</a></li>
							</ul>
						</nav>
						<div class="phone d-flex flex-row align-items-center justify-content-start ml-auto">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<div>221-78-160-18-07</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Hamburger -->
	
	<div class="hamburger_bar trans_400 d-flex flex-row align-items-center justify-content-start">
		<div class="hamburger">
			<div class="menu_toggle d-flex flex-row align-items-center justify-content-start">
				<span>menu</span>
				<div class="hamburger_container">
					<div class="menu_hamburger">
						<div class="line_1 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
						<div class="line_2 hamburger_lines" style="visibility: inherit; opacity: 1;"></div>
						<div class="line_3 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Menu -->

	<div class="menu trans_800">
		<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
			<ul>
				<li><a [routerLink]="['/Acceuil']">Acceuil</a></li>
				<li><a [routerLink]="['/about-us']">A Propos</a></li>
				<li><a [routerLink]="['/service']">Services</a></li>
				<li><a [routerLink]="['/post']">Post</a></li>
				<li><a [routerLink]="['/contact']">Contact</a></li>
			</ul>
		</div>
		<div class="menu_phone d-flex flex-row align-items-center justify-content-start">
			<i class="fa fa-phone" aria-hidden="true"></i>
				<span>221-78-160-18-07</span>
		</div>
	</div>

	<!-- Home -->

    <div class="home">
		<div class="background_image" style="background-image:url(assets/bg_1.jpg)"></div>
		<div class="overlay"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title">Blog</div>
							<div class="home_subtitle">Pilates, Yoga, Fitness bien plus encore</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

      <section>
        <h1>Post</h1>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
          <div class="blog-card blog-card-blog">
            <div class="blog-card-image">
                <a href="#"> <img class="img" src="https://img.freepik.com/free-photo/vibrant-collection-healthy-fruit-vegetables-generated-by-ai_24640-80425.jpg?size=626&ext=jpg&ga=GA1.2.999429239.1696939061&semt=sph"> </a>
                <div class="ripple-cont"></div>
            </div>
            <div class="blog-table">
                <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> </h6>
                <h4 class="blog-card-caption">
                    <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                </h4>
                <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="ftr">
                    <div class="author">
                        <a href="#"> <img src="https://img.freepik.com/free-photo/young-happy-sportswoman-getting-ready-workout-tying-shoelace-fitness-center_637285-470.jpg?size=626&ext=jpg&ga=GA1.1.999429239.1696939061&semt=sph" alt="..." class="avatar img-raised"> <span>Lobe</span> </a>
                    </div>
                    <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                </div>
            </div>
        </div>
        </div>
            
            
            <div class="col-md-4">
          <div class="blog-card blog-card-blog">
            <div class="blog-card-image">
                <a href="#"> <img class="img" src="https://img.freepik.com/premium-photo/fresh-milk-different-glass-bottles_74095-572.jpg?size=626&ext=jpg&ga=GA1.2.999429239.1696939061&semt=ais"> </a>
                <div class="ripple-cont"></div>
            </div>
            <div class="blog-table">
                <h6 class="blog-category blog-text-success"><i class="fas fa-blog"></i> </h6>
                <h4 class="blog-card-caption">
                    <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                </h4>
                <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="ftr">
                    <div class="author">
                        <a href="#"> <img src="https://img.freepik.com/free-photo/young-happy-sportswoman-getting-ready-workout-tying-shoelace-fitness-center_637285-470.jpg?size=626&ext=jpg&ga=GA1.1.999429239.1696939061&semt=sph" alt="..." class="avatar img-raised"> <span>lobe</span> </a>
                    </div>
                    <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                </div>
            </div>
        </div>
        </div>
            
            <div class="col-md-4">
          <div class="blog-card blog-card-blog">
            <div class="blog-card-image">
                <a href="#"> <img class="img" src="https://img.freepik.com/free-photo/green-apple-with-leaves_1101-453.jpg?size=626&ext=jpg&ga=GA1.2.999429239.1696939061&semt=sph"> </a>
                <div class="ripple-cont"></div>
            </div>
            <div class="blog-table">
                <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> </h6>
                <h4 class="blog-card-caption">
                    <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                </h4>
                <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="ftr">
                    <div class="author">
                        <a href="#"> <img src="https://img.freepik.com/free-photo/young-happy-sportswoman-getting-ready-workout-tying-shoelace-fitness-center_637285-470.jpg?size=626&ext=jpg&ga=GA1.1.999429239.1696939061&semt=sph" alt="..." class="avatar img-raised"> <span>lobe</span> </a>
                    </div>
                    <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                </div>
            </div>
        </div>
        </div>
          </div>
        </div>
        
      </section>
      <section>
        <h1>Proteines</h1>
        <div class="container">
          <div class="row">
            <div class="col-md-4">
          <div class="blog-card blog-card-blog">
            <div class="blog-card-image">
                <a href="#"> <img class="img" src="https://img.freepik.com/free-photo/legumes-broccoli-fruit-salmon-placed-black-cement-floor_1150-19927.jpg?size=626&ext=jpg&ga=GA1.2.999429239.1696939061&semt=sph"> </a>
                <div class="ripple-cont"></div>
            </div>
            <div class="blog-table">
                <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> </h6>
                <h4 class="blog-card-caption">
                    <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                </h4>
                <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="ftr">
                    <div class="author">
                        <a href="#"> <img src="https://img.freepik.com/free-photo/young-happy-sportswoman-getting-ready-workout-tying-shoelace-fitness-center_637285-470.jpg?size=626&ext=jpg&ga=GA1.1.999429239.1696939061&semt=sph" alt="..." class="avatar img-raised"> <span>Lobe</span> </a>
                    </div>
                    <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                </div>
            </div>
        </div>
        </div>
            
            
            <div class="col-md-4">
          <div class="blog-card blog-card-blog">
            <div class="blog-card-image">
                <a href="#"> <img class="img" src="https://img.freepik.com/free-photo/ketogenic-low-carbs-diet-food-selection-white-wall_155003-27728.jpg?size=626&ext=jpg&ga=GA1.2.999429239.1696939061&semt=sph"> </a>
                <div class="ripple-cont"></div>
            </div>
            <div class="blog-table">
                <h6 class="blog-category blog-text-success"><i class="fas fa-blog"></i> </h6>
                <h4 class="blog-card-caption">
                    <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                </h4>
                <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="ftr">
                    <div class="author">
                        <a href="#"> <img src="https://img.freepik.com/free-photo/young-happy-sportswoman-getting-ready-workout-tying-shoelace-fitness-center_637285-470.jpg?size=626&ext=jpg&ga=GA1.1.999429239.1696939061&semt=sph" alt="..." class="avatar img-raised"> <span>lobe</span> </a>
                    </div>
                    <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                </div>
            </div>
        </div>
        </div>
            
            <div class="col-md-4">
          <div class="blog-card blog-card-blog">
            <div class="blog-card-image">
                <a href="#"> <img class="img" src="https://img.freepik.com/free-photo/healthy-salad-with-salmon-tomatoes-mushrooms-lettuce-lentil-dark_2829-11067.jpg?size=626&ext=jpg&ga=GA1.2.999429239.1696939061&semt=sph"> </a>
                <div class="ripple-cont"></div>
            </div>
            <div class="blog-table">
                <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> </h6>
                <h4 class="blog-card-caption">
                    <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                </h4>
                <p class="blog-card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <div class="ftr">
                    <div class="author">
                        <a href="#"> <img src="https://img.freepik.com/free-photo/young-happy-sportswoman-getting-ready-workout-tying-shoelace-fitness-center_637285-470.jpg?size=626&ext=jpg&ga=GA1.1.999429239.1696939061&semt=sph" alt="..." class="avatar img-raised"> <span>lobe</span> </a>
                    </div>
                    <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                </div>
            </div>
        </div>
        </div>
          </div>
        </div>
        
      </section>
		<!-- fin -->

	<!-- Footer -->

    <footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="footer_container">
						<div class="footer_content">
							<div class="footer_logo">
								<a href="#">
									<div class="logo d-flex flex-row align-items-center justify-content-center"><img src="assets//dot.png" alt=""><div>FIT<span>-TOGETHER</span></div></div>
								</a>
							</div>
							<nav class="footer_nav">
								<ul class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center justify-content-center">
									<li><a [routerLink]="['/Acceuil']">Acceuil</a></li>
									<li><a [routerLink]="['/about-us']">A Propos</a></li>
									<li><a [routerLink]="['/service']">Services</a></li>
									<li><a [routerLink]="['/post']">Post</a></li>
									<li><a [routerLink]="['/contact']">Contact</a></li>
								</ul>
							</nav>
							<div class="newsletter_container">
								<form action="#" id="newsletter_form" class="newsletter_form">
									<input type="text" class="newsletter_input" placeholder="veillez saisir votre mail" required="required">
									<button class="newsletter_button">go</button>
								</form>
							</div>
							<div class="copyright d-flex flex-row align-items-start justify-content-sm-end justify-content-center">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  <i class="fa fa-heart-o" aria-hidden="true"></i> by fatima <a  target="_blank"></a>
</div>
						</div>
						<div class="footer_image text-center"><img src="assets//footer.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>

<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/styles/bootstrap-4.1.2/popper.js"></script>
<script src="assets/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="assets/plugins/greensock/TweenMax.min.js"></script>
<script src="assets/plugins/greensock/TimelineMax.min.js"></script>
<script src="assets/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="assets/plugins/greensock/animation.gsap.min.js"></script>
<script src="assets/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="assets/plugins/easing/easing.js"></script>
<script src="assets/plugins/parallax-js-master/parallax.min.js"></script>
<script src="assetsjs/blog.js"></script>
</body>
</html>