<!DOCTYPE html>
<html lang="en">
<head>
<title>Blog</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="SportFIT template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="detail-video.component.css">

</head>
<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-start trans_400">
						<a >
							<div class="logo d-flex flex-row align-items-center justify-content-start"><img src="assets/dot.png" alt=""><div>Fit<span>-TOGETHER</span></div></div>
						</a>
						<nav class="main_nav">
							<ul class="d-flex flex-row align-items-center justify-content-start">
								<li><a [routerLink]="['/Acceuil']">Acceuil</a></li>
								<li ><a [routerLink]="['/about-us']">A Propos</a></li>
								<li  class="active"><a [routerLink]="['/service']">Services</a></li>
								<li><a [routerLink]="['/post']">Post</a></li>
							</ul>
						</nav>
						<div class="phone d-flex flex-row align-items-center justify-content-start ml-auto">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<div>221-78-160-18-07</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Hamburger -->
	
	<div class="hamburger_bar trans_400 d-flex flex-row align-items-center justify-content-start">
		<div class="hamburger">
			<div class="menu_toggle d-flex flex-row align-items-center justify-content-start">
				<span>menu</span>
				<div class="hamburger_container">
					<div class="menu_hamburger">
						<div class="line_1 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
						<div class="line_2 hamburger_lines" style="visibility: inherit; opacity: 1;"></div>
						<div class="line_3 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Menu -->

	<div class="menu trans_800">
		<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
			<ul>
				<li><a [routerLink]="['/Acceuil']">Acceuil</a></li>
				<li><a [routerLink]="['/about-us']">A Propos</a></li>
				<li><a [routerLink]="['/service']">Services</a></li>
				<li><a [routerLink]="['/post']">Post</a></li>
			</ul>
		</div>
		<div class="menu_phone d-flex flex-row align-items-center justify-content-start">
			<i class="fa fa-phone" aria-hidden="true"></i>
				<span>652-345 3222 11</span>
		</div>
	</div>

	<!-- Home -->

	<div class="home">
		<div class="background_image" style="background-image:url(assets/blog_page.jpg)"></div>
		<div class="overlay"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title">séances d'entrainement</div>
							<div class="home_subtitle">Pilates, Yoga, Fitness, Spinning & many more</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Blog -->

	<div class="blog">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container">
						<div class="section_subtitle">welcome to FIT-TOGETHER</div>
						<div class="section_title">Body-Sculpt</div>
					</div>
				</div>
			</div>
			<div class="row blog_row">
				
				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><iframe class="blog_post_image" width="853" height="250" src="https://www.youtube.com/embed/mLgB0y3Xs0k" title="BODY SCULPT" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
						<div class="blog_post_title"><a >Les abdos</a></div>
						<div class="blog_post_date"><a ></a></div>
						<div class="blog_post_text">
							<p> Après un court échauffement, vous alternez toutes les 5 minutes entre exercices cardio et renforcement musculaire, avant de travailler les abdos et de vous étirer. Vous dépenser en vous faisant plaisir : qui dit mieux </p>
						</div>
						<div class="blog_post_link"><a >Laisser un Commentaire</a></div>
					</div>
				</div>

				<!-- Blog Post -->
                <div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><iframe class="blog_post_image" width="853" height="250" src="https://www.youtube.com/embed/mLgB0y3Xs0k" title="BODY SCULPT" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
						<div class="blog_post_title"><a >Les abdos</a></div>
						<div class="blog_post_date"><a ></a></div>
						<div class="blog_post_text">
							<p> Après un court échauffement, vous alternez toutes les 5 minutes entre exercices cardio et renforcement musculaire, avant de travailler les abdos et de vous étirer. Vous dépenser en vous faisant plaisir : qui dit mieux </p>
						</div>
						<div class="blog_post_link"><a >Laisser un Commentaire</a></div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><iframe class="blog_post_image" width="853" height="250" src="https://www.youtube.com/embed/SeXP7IOS56g" title="BODY SCULPT" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
						<div class="blog_post_title"><a >Renforcement musculaire</a></div>
						<div class="blog_post_date"><a ></a></div>
						<div class="blog_post_text">
							<p> Après un court échauffement, vous alternez les exercices de cardio et renforcement musculaire toutes les 5 minutes. Et vous terminez en beauté avec des abdos, puis des étirements</p>
						</div>
						<div class="blog_post_link"><a >laisser un commentaire</a></div>
					</div>
				</div>

				
				

                <div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><iframe class="blog_post_image" width="853" height="250" src="https://www.youtube.com/embed/mLgB0y3Xs0k" title="BODY SCULPT" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
						<div class="blog_post_title"><a >Les abdos</a></div>
						<div class="blog_post_date"><a ></a></div>
						<div class="blog_post_text">
							<p> Après un court échauffement, vous alternez toutes les 5 minutes entre exercices cardio et renforcement musculaire, avant de travailler les abdos et de vous étirer. Vous dépenser en vous faisant plaisir : qui dit mieux </p>
						</div>
						<div class="blog_post_link"><a >Laisser un Commentaire</a></div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><iframe class="blog_post_image" width="853" height="250" src="https://www.youtube.com/embed/mLgB0y3Xs0k" title="BODY SCULPT" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
						<div class="blog_post_title"><a >Les abdos</a></div>
						<div class="blog_post_date"><a ></a></div>
						<div class="blog_post_text">
							<p> Après un court échauffement, vous alternez toutes les 5 minutes entre exercices cardio et renforcement musculaire, avant de travailler les abdos et de vous étirer. Vous dépenser en vous faisant plaisir : qui dit mieux </p>
						</div>
						<div class="blog_post_link"><a >Laisser un Commentaire</a></div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-xl-4 col-md-6 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><iframe class="blog_post_image" width="853" height="250" src="https://www.youtube.com/embed/mLgB0y3Xs0k" title="BODY SCULPT" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
						<div class="blog_post_title"><a >Les abdos</a></div>
						<div class="blog_post_date"><a ></a></div>
						<div class="blog_post_text">
							<p> Après un court échauffement, vous alternez toutes les 5 minutes entre exercices cardio et renforcement musculaire, avant de travailler les abdos et de vous étirer. Vous dépenser en vous faisant plaisir : qui dit mieux </p>
						</div>
						<div class="blog_post_link"><a >Laisser un Commentaire</a></div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col">
					<div class="button blog_button ml-auto mr-auto"><a >Voir-Plus</a></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="footer_container">
						<div class="footer_content">
							<div class="footer_logo">
								<a >
									<div class="logo d-flex flex-row align-items-center justify-content-center"><img src="assets//dot.png" alt=""><div>FIT<span>-TOGETHER</span></div></div>
								</a>
							</div>
							<nav class="footer_nav">
								<ul class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center justify-content-center">
									<li><a [routerLink]="['/Acceuil']">Acceuil</a></li>
									<li><a [routerLink]="['/about-us']">A Propos</a></li>
									<li><a [routerLink]="['/service']">Services</a></li>
									<li><a [routerLink]="['/post']">Post</a></li>
								</ul>
							</nav>
							<div class="newsletter_container">
								<form action="#" id="newsletter_form" class="newsletter_form">
									<input type="text" class="newsletter_input" placeholder="veillez saisir votre mail" required="required">
									<button class="newsletter_button">go</button>
								</form>
							</div>
							<div class="copyright d-flex flex-row align-items-start justify-content-sm-end justify-content-center">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  <i class="fa fa-heart-o" aria-hidden="true"></i> by fatima <a  target="_blank"></a>
</div>
						</div>
						<div class="footer_image text-center"><img src="assets//footer.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>

<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap-4.1.2/popper.js"></script>
<script src="styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="plugins/parallax-js-master/parallax.min.js"></script>
<script src="js/blog.js"></script>
</body>
</html>