<!-- <p>admin-acceuil works!</p> -->

    
<input type="checkbox" id="nav-toggle">
<div class="sidebar">
    <div class="sidebar-brand">
      <h1> <span class="fab fa-asymmetrik"> </span> <span style="margin-top: 40px;">FIT-TOGETHER</span>
      </h1>
    </div>     
    <div class="sidebar-menu">
      <ul>
        <li>
          <a routerLink="admin">
            <span class="fas fa-tachometer-alt"></span>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/categorie']">
            <span class="fas fa-stream"></span>
            <span>catégorie</span>
          </a>
        </li>
        <li>
          <a class="active" [routerLink]="['/sous-categorie']">
            <span class="fas fa-stream"></span>
          <span> Sous-Catégorie</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/coach']">
            <span class="fas fa-tasks"></span>
            <span>Coach</span>
          </a>
        </li>
      </ul>
      <li style="margin-top: 150px;">
        <a [routerLink]="['/connexion']">
          <span class="fa-solid fa-paperclip"></span>
          <span>Se déconnecter</span>
        </a>
      </li>
    </div>
</div>    

<div class="main-content">
  <header>
    <h2>
      <label for="nav-toggle">
        <span class="fas fa-bars"></span>
      </label>
      Dashboard
    </h2>

    <div class="search-wrapper">
      <span class="fas fa-search"> </span>
      <input type="search" placeholder="Search..." />

    </div>

    <div class="user-wrapper">
     <img src="https://img.freepik.com/photos-gratuite/portrait-of-smiling-afro-american-sports-man-with-arms-replied-looking-at-camera_171337-8263.jpg?t=st=1708952024~exp=1708955624~hmac=8ea0354a70e48b6ae63bdb49a794595a8c53f063e88b32a5c02afa9ea724c5d6&w=996" width="40px" height="40px" alt="profile-img">
     <div class="">
        <h4></h4>
        <small>Coach</small>
     </div>
    </div>
  </header>
        
  <main>
    <div class="cards">
      <div class="card-single" style="border-right: 8px solid #ff9711;">
        <div>
          <h1>50</h1>
          <span>user</span>
        </div>
        <div>
          <span class="fas fa-users"></span>
        </div>
      </div>
      <div class="card-single" style="border-right: 8px solid #ff9711;">
        <div>
          <h1>30</h1>
          <span>video</span>
        </div>
        <div>
          <span class="fa-solid fa-video"></span>
        </div>
      </div>
      <div class="card-single" style="border-right: 8px solid #ff9711;">
        <div>
          <h1>10</h1>
          <span>Coach</span>
        </div>
        <div>
          <span class="fas fa-users"></span>
        </div>
      </div>
      <div class="card-single" style="border-right: 8px solid #ff9711;">
        <div>
          <h1>20</h1>
          <span>Post</span>
        </div>
        <div>
          <span class="fas fa-wallet"></span>
        </div>
      </div>

    </div>
    <!-- bouton pour l'ajout des catégorie -->
    <button type="button" class="btn btn-danger " data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo" style="margin-top: 5%;" >Ajouter</button>    <!-- data table pour l'ajout des catégorie -->
    <table class="table" style="margin-top: 50px;">
        <thead class="tout">
          <tr class="titre">
            <th scope="col">#</th>
            <th scope="col">Sous_Catégorie</th>
            <th scope="col">catégorie</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let souscategorie of souscategories">
            <th scope="row">1</th>
            <td>{{ souscategorie.sous_categorie }}</td>
            <td>{{ souscategorie.categorie_id.categorie }}</td>
            <td>
              <button class="modif" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal-modif" data-bs-whatever="@mdo" (click)=" chargeInfo(souscategorie)">Modifier</button>             
              <button class="mx-3" (click)="supprimersousCategorie(souscategorie.id)">Supprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
  </main>
</div>
<!-- Ajouter sous-Catégorie -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content ">
      <div class="modal-header" style="height:6vh">
        <h3 class="modal-title fs-6" id="exampleModalLabel" style="margin-left: 2%;">Ajouter-Catégorie</h3>
        <button type="button" class="btn-close" style="margin-right: 5%; margin-top: 5%;" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="" style="width: 95%; margin: 0 auto;">
          <form>
            <div class="mb-3 ">
              <label for="recipient-name" class="col-form-label">Sous_Catégorie</label>
              <input type="text" class="form-control " id="titre-name" name="titre" [(ngModel)]="souscategorie">
            </div>
            <div class="mb-3 ">
              <label for="recipient-name" class="col-form-label">catégorie</label>
              <select [(ngModel)]="cat_id" name="categorie">
                <option   *ngFor="let cat of souscategories"  [value]="cat.categorie_id.id">{{cat.categorie_id.categorie}}</option>
              </select>
            </div>
          </form>

        </div>
      </div>
      <div class="modal-footer mb-2 pt-2" style="height: 6vh;" >
        <button type="button" class="btn danger me-3" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn m-3" style="background-color: white; border: #ff9711; color: #ff9711; border: 1px solid #ff9711;" (click)=" ajoutsouscategorie()">Ajouter</button>
      </div>
    </div>
  </div>
</div>

<!-- modifier catégorie -->
<div class="modal fade" id="exampleModal-modif" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content ">
      <div class="modal-header" style="height:6vh">
        <h3 class="modal-title fs-6" id="exampleModalLabel" style="margin-left: 2%;">Modifier-Catégorie</h3>
        <button type="button" class="btn-close" style="margin-right: 5%; margin-top: 5%;" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="" style="width: 95%; margin: 0 auto;">
          <form>
            <div class="mb-3 ">
              <label for="recipient-name" class="col-form-label">Sous_Catégorie</label>
              <input type="text" class="form-control " id="titre-name" name="titre" [(ngModel)]="souscategorie">
            </div>
            <div class="mb-3 ">
              <label for="recipient-name" class="col-form-label">catégorie</label>
              <select [(ngModel)]="cat_id" name="categorie">
                <option   *ngFor="let cat of souscategories"  [value]="cat.categorie_id.id">{{cat.categorie_id.categorie}}</option>
              </select>
            </div>
          </form>

        </div>
      </div>
      <div class="modal-footer mb-2 pt-2" style="height: 6vh;" >
        <button type="button" class="btn danger me-3" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn m-3" style="background-color: white; border: #ff9711; color: #ff9711; border: 1px solid #ff9711;" (click)="modifierCategorie()" >Modifier</button>
      </div>
    </div>
  </div>
</div>