<!-- <p>gestion-coach works!</p> -->
<!-- <p>admin-acceuil works!</p> -->

    
<input type="checkbox" id="nav-toggle">
<div class="sidebar">
    <div class="sidebar-brand">
      <h1> <span class="fab fa-asymmetrik"> </span> <span style="margin-top: 40px;">FIT-TOGETHER</span>
      </h1>
    </div>     
    <div class="sidebar-menu">
      <ul>
        <li>
          <a [routerLink]="['/adminG']">
            <span class="fas fa-tachometer-alt"></span>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/categorie']">
            <span class="fas fa-users"></span>
            <span>catégorie</span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/sous-categorie']">
            <span class="fas fa-stream"></span>
          <span> Sous-Catégorie</span>
          </a>
        </li>
        <li>
          <a class="active" [routerLink]="['/Coach']">
            <span class="fas fa-tasks"></span>
            <span>Coach</span>
          </a>
        </li>
      </ul>
      <li style="margin-top: 150px;">
        <a [routerLink]="['/connexion']">
          <span class="fa-solid fa-paperclip"></span>
          <span>Se déconnecter</span>
        </a>
      </li>
    </div>
</div>    

<div class="main-content">
  <header>
    <h2>
      <label for="nav-toggle">
        <span class="fas fa-bars"></span>
      </label>
      Dashboard
    </h2>

    <div class="search-wrapper">
      <span class="fas fa-search"> </span>
      <input type="search" placeholder="Search..." />

    </div>

    <div class="user-wrapper">
     <img src="https://img.freepik.com/photos-gratuite/portrait-of-smiling-afro-american-sports-man-with-arms-replied-looking-at-camera_171337-8263.jpg?t=st=1708952024~exp=1708955624~hmac=8ea0354a70e48b6ae63bdb49a794595a8c53f063e88b32a5c02afa9ea724c5d6&w=996" width="40px" height="40px" alt="profile-img">
     <div class="">
        <h4></h4>
        <small>Coach</small>
     </div>
    </div>
  </header>

  <main>
    <div class="cards">
      <div class="card-single" style="border-right: 8px solid #ff9711;">
        <div>
          <h1>50</h1>
          <span>user</span>
        </div>
        <div>
          <span class="fas fa-users"></span>
        </div>
      </div>
      <div class="card-single" style="border-right: 8px solid #ff9711;">
        <div>
          <h1>30</h1>
          <span>video</span>
        </div>
        <div>
          <span class="fa-solid fa-video"></span>
        </div>
      </div>
      <div class="card-single" style="border-right: 8px solid #ff9711;">
        <div>
          <h1>10</h1>
          <span>Coach</span>
        </div>
        <div>
          <span class="fas fa-users"></span>
        </div>
      </div>
      <div class="card-single" style="border-right: 8px solid #ff9711;">
        <div>
          <h1>20</h1>
          <span>Post</span>
        </div>
        <div>
          <span class="fas fa-wallet"></span>
        </div>
      </div>

    </div>
    <!-- bouton pour l'ajout des catégorie -->
    <!-- data table pour l'ajout des catégorie -->
    <table class="table"  style="margin-top: 50px;">
        <thead>
          <tr class="titre">
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of coachs">
            <th scope="row">{{user.nom}}</th>
            <td>{{user.prenom}}</td>
            <td>{{user.email}}</td>
            <td> <button class="mx-3" (click)="supprimercoatch(user.id)">spprimer</button>
            </td>
          </tr>
        </tbody>
      </table>
  </main>
</div>


