<!-- <p>login works!</p> -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="login.component.css">
  <title>Document</title>
</head>
<body>
  <main class="mainContainer">
    <h2>VEUILLEZ-VOUS CONNECTEZ !</h2>
    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form action="#">
          <h1>inscrivez-vous</h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <span>or use your email for registration</span>
          <input type="text" placeholder="Name"  />
          <input type="email" placeholder="Email"/>
          <input type="password" placeholder="Password"/>
          <button></button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form >
          <div class="mb-3">
            <label for=""></label>
            <input type="email" placeholder="Email"  name="email" [(ngModel)]="email" (input)="  verifEmailConFonction()">
            <p class="text-danger" *ngIf="!exactEmailCon">{{verifEmailCon}}</p>
            <p class="text-success" *ngIf="exactEmailCon"><i class="bi bi-check2-all"></i> Exact !</p>
          </div>
          <div class="mb-3">
            <input type="password" placeholder="Password" name="password" [(ngModel)]="password" (input)="  verifPasswordConFonction()">
            <p class="text-danger" *ngIf="!exactPasswordCon">{{verifPasswordCon}}</p>
            <p class="text-success" *ngIf="exactPasswordCon"><i class="bi bi-check2-all"></i> Exact !</p>
          </div>
          <a [routerLink]="['/inscription']">veuillez vous-inscrire!</a>
          <button (click)="connexion()" >Se connectez</button>
        </form>
      </div>
      <div class="overlay-container">
     
        <img src="https://img.freepik.com/photos-premium/preparer-ses-muscles-pour-course-jolie-jeune-femme-etirant-ses-jambes-avant-aller-faire-du-jogging_590464-35171.jpg?w=740" id="image">
      </div>
    </div>
  </main>
  
</body>
</html>
