<!-- <p>inscription works!</p> -->
<h2>Bienvenue!</h2>
<div class="formulaire">
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="#">
                <h1></h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#">
                <input type="text" name="prenom" placeholder="Prenom" [(ngModel)]="prenom"/>
                <input type="text" name="nom" placeholder="Nom"[(ngModel)]="nom" />
                <input type="email" name="email" placeholder="email" [(ngModel)]="email"/>
                <input type="password" name="password" placeholder="Password" [(ngModel)]="password"/>
                <button (click)="inscription()" routerLinkActive="router-link-active" >S'inscrire</button>
            </form>
        </div>
        <div class="overlay-container">
     
            <img src="https://img.freepik.com/photos-premium/preparer-ses-muscles-pour-course-jolie-jeune-femme-etirant-ses-jambes-avant-aller-faire-du-jogging_590464-35171.jpg?w=740" id="imag">
            </div>
    </div>
</div>