<!DOCTYPE html>
<html lang="en">
<head>
<title>FIT-TOGETHER</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="SportFIT template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-start trans_400">
						<a href="#">
							<div class="logo d-flex flex-row align-items-center justify-content-start"><img src="assets//dot.png" alt=""><div>FIT<span>-TOGETHER</span></div></div>
						</a>
						<nav class="main_nav">
							<ul class="d-flex flex-row align-items-center justify-content-start">
								<li class="active"><a [routerLink]="['/Acceuil']">Acceuil</a></li>
								<li><a [routerLink]="['/about-us']">A Propos</a></li>
								<li><a [routerLink]="['/service']"> Services</a></li>
								<li><a [routerLink]="['/post']">Post</a></li>
								<li><a [routerLink]="['/contact']">Contact</a></li>
							</ul>
						</nav>
						<div class="phone d-flex flex-row align-items-center justify-content-start ml-auto">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<div>221-78-160-18-07</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Hamburger -->
	
	<div class="hamburger_bar trans_400 d-flex flex-row align-items-center justify-content-start">
		<div class="hamburger">
			<div class="menu_toggle d-flex flex-row align-items-center justify-content-start">
				<span>menu</span>
				<div class="hamburger_container">
					<div class="menu_hamburger">
						<div class="line_1 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
						<div class="line_2 hamburger_lines" style="visibility: inherit; opacity: 1;"></div>
						<div class="line_3 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Menu -->

	<div class="menu trans_800">
		<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
			<ul>
				<li><a [routerLink]="['/Acceuil']">Acceuil</a></li>
				<li><a [routerLink]="['/about-us']">A Propos</a></li>
				<li><a [routerLink]="['/service']">Services</a></li>
				<li><a [routerLink]="['/post']">Post</a></li>
				<li><a [routerLink]="['/contact']">Contact</a></li>
			</ul>
		</div>
		<div class="menu_phone d-flex flex-row align-items-center justify-content-start">
			<i class="fa fa-phone" aria-hidden="true"></i>
				<span>+221-78-160-18-07</span>
		</div>
	</div>

	<!-- Home -->

	<div class="home">
		<div class="background_image" style="background-image:url(assets//index.jpg)"></div>
		<div class="overlay"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content text-center">
							<div class="video_link">
								<a class="vimeo video_button d-flex flex-column align-items-center justify-content-center" href="https://player.vimeo.com/video/99340873?autoplay=1&loop=1&title=0&autopause=0">
									<div class="video_link_content d-flex flex-row align-items-center justify-content-start">
										<div class="video_icon d-flex flex-column align-items-center justify-content-center"><i class="fa fa-play" aria-hidden="true"></i></div>
										<span class="video_text" [routerLink]="['/service']">vidéo d'entraînement</span>
									</div>
								</a>
							</div>
							<div class="home_title">Mettons-nous en forme avec nous</div>
							<div class="home_subtitle">Pilates, Yoga, Fitness bien plus encore</div>
							<div class="button home_button ml-auto mr-auto"><a href="#">Rejoignez-Nous</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Boxes -->

	<div class="boxes">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="boxes_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
						
						<!-- Box -->
						<div class="box">
							<div class="box_icon d-flex flex-column align-items-center justify-content-center"><img src="assets//icon_1.png" alt=""></div>
							<div class="box_title">Pilates avec un entraîneur</div>
							<div class="box_text">
								<p>Rejoignez nos sessions de Pilates animées par nos entraîneurs certifiés pour améliorer votre force, votre souplesse et votre posture.</p>
							</div>
							<div class="box_link_container">
								<a href="#"><div class="box_link d-flex flex-column align-items-center justify-content-center trans_200"><div>+</div></div></a>
							</div>
						</div>

						<!-- Box -->
						<div class="box">
							<div class="box_icon d-flex flex-column align-items-center justify-content-center"><img src="assets//icon_1.png" alt=""></div>
							<div class="box_title">Body-sculp</div>
							<div class="box_text">
								<p>Découvrez notre programme Body Sculpt, conçu pour sculpter et tonifier votre corps de manière efficace et durable.</p>
							</div>
							<div class="box_link_container">
								<a href="#"><div class="box_link d-flex flex-column align-items-center justify-content-center trans_200"><div>+</div></div></a>
							</div>
						</div>

						<!-- Box -->
						<div class="box">
							<div class="box_icon d-flex flex-column align-items-center justify-content-center"><img src="assets//icon_1.png" alt=""></div>
							<div class="box_title">Fitness</div>
							<div class="box_text">
								<p>Que vous soyez un débutant complet ou un passionné de fitness expérimenté, notre programme offre une variété d'activités pour répondre à tous les niveaux et objectifs.</p>
							</div>
							<div class="box_link_container">
								<a href="#"><div class="box_link d-flex flex-column align-items-center justify-content-center trans_200"><div>+</div></div></a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- About -->

	<div class="about">
		<div class="container about_container">
			<div class="row">
				<div class="col-lg-6">
					<div class="about_content">
						<div class="section_title_container">
							<div class="section_subtitle">welcome to FIT-TOGETHER</div>
							<div class="section_title">About <span>FIT-TOGETHER</span></div>
						</div>
						<div class="text_highlight">Etiam commodo justo nec aliquam feugiat. Donec a leo eget eget augue porttitor sollicitudin augue porttitor sollicitudin.</div>
						<div class="about_text">
							<p>Morbi sed varius risus, vitae molestie lectus. Donec id hendrerit velit, eu fringilla neque. Etiam id finibus sapien. Donec sollicitudin luctus ex non pharetra. Aenean lobortis ut leo vel porta. Maecenas ac vestibulum lectus. Cras nulla urna, lacinia ut tempor facilisis, congue dignissim tellus. Maecenas ac vestibulum lectus. Cras nulla urna, lacinia ut tempor facilisis, congue dignissim tellus. Phasellus sit amet justo ullamcorper, elementum ipsum nec.</p>
						</div>
						<div class="button about_button"><a href="#">Rejoignez-Nous</a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="about_background">
			<div class="container fill_height">
				<div class="row fill_height">
					<div class="col-lg-6 offset-lg-6 fill_height">
						<div class="about_image"><img src="assets//a1.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Testimonials -->

	<div class="testimonials">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="assets//testimonials.jpg" data-speed="0.8"  style="background-image:url(assets/testimonials.jpg)"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section_title_container">
						<div class="section_subtitle">welcome to FIT-TOGETHER</div>
						<div class="section_title">Testimoniales</div>
					</div>

					<!-- Testimonial -->
					<div class="test test_1 d-flex flex-row align-items-start justify-content-start">
						<div><div class="test_image"><img src="assets//test_1.jpg" alt=""></div></div>
						<div class="test_content">
							<div class="test_name"><a href="#">saly</a></div>
							<div class="test_title">client</div>
							<div class="test_text">
								<p>Je suis ravie d'avoir découvert ce programme ! Les séances sont variées et stimulantes, et les instructeurs sont incroyablement motivants. J'ai constaté une amélioration significative de ma forme physique et de mon bien-être général depuis que j'ai commencé.</p>
							</div>
							<div class="rating rating_4 test_rating"><i></i><i></i><i></i><i></i><i></i></div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					
					<!-- Testimonial -->
					<div class="test d-flex flex-row align-items-start justify-content-start">
						<div><div class="test_image"><img src="assets//test_2.jpg" alt=""></div></div>
						<div class="test_content">
							<div class="test_name"><a href="#">andré</a></div>
							<div class="test_title">client</div>
							<div class="test_text">
								<p>Je suis impressionné par la qualité et la diversité des cours proposés. Que ce soit le yoga, le Pilates, chaque entraînement est une véritable expérience. Je recommande vivement ce programme à tous ceux qui recherchent une façon amusante et efficace de se mettre en forme</p>
							</div>
							<div class="rating rating_4 test_rating"><i></i><i></i><i></i><i></i><i></i></div>
						</div>
					</div>

					<!-- Testimonial -->
					<div class="test d-flex flex-row align-items-start justify-content-start">
						<div><div class="test_image"><img src="assets//test_3.jpg" alt=""></div></div>
						<div class="test_content">
							<div class="test_name"><a href="#">Mariama</a></div>
							<div class="test_title">client</div>
							<div class="test_text">
								<p>Ce programme m'a vraiment aidé à retrouver ma motivation pour l'exercice. Les séances sont accessibles à tous les niveaux, ce qui est parfait pour moi qui suis débutante. Je me sens plus forte, plus tonique et plus confiante depuis que j'ai commencé à suivre ce programme.</p>
							</div>
							<div class="rating rating_4 test_rating"><i></i><i></i><i></i><i></i><i></i></div>
						</div>
					</div>

				</div>
			</div>
			<div class="row test_button_row">
				<div class="col text-center">
					<div class="button test_button"><a href="#">Rejoignez-Nous</a></div>
				</div>
			</div>
		</div>
	</div>

	<!-- Gallery -->

	<div class="gallery">
		
		<!-- Gallery Slider -->
		<div class="gallery_slider_container">
			<div class="owl-carousel owl-theme gallery_slider">
				
				<!-- Slide -->
				<div class="owl-item"><img src="assets//gallery_3.jpg" alt=""></div>

				<!-- Slide -->
				<div class="owl-item"><img src="assets//gallery_4.jpg" alt=""></div>

				<!-- Slide -->
				<div class="owl-item"><img src="assets//gallery_5.jpg" alt=""></div>

				<!-- Slide -->
				<div class="owl-item"><img src="assets//gallery_1.jpg" alt=""></div>

				<!-- Slide -->
				<div class="owl-item"><img src="assets//gallery_2.jpg" alt=""></div>

			</div>
		</div>
	</div>

	<!-- Services -->

	<div class="services">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container">
						<div class="section_subtitle"></div>
						<div class="section_title">Nos cours</div>
					</div>
				</div>
			</div>
			<div class="row services_row">
				
				<!-- Service -->
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service">
						<div class="service_title_container d-flex flex-row align-items-center justify-content-start">
							<div><div class="service_icon"><img src="assets//icon_4.png" alt=""></div></div>
							<div class="service_title">Cours de perte de poids</div>
						</div>
						<div class="service_text">
							<p>un programme conçu pour vous aider à atteindre vos objectifs de perte de poids de manière efficace et durable.</p>
						</div>
					</div>
				</div>

				<!-- Service -->
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service">
						<div class="service_title_container d-flex flex-row align-items-center justify-content-start">
							<div><div class="service_icon"><img src="assets//icon_5.png" alt=""></div></div>
							<div class="service_title">Cours de yoga</div>
						</div>
						<div class="service_text">
							<p>Il s'agit de sessions d'exercices guidés qui se concentrent sur la pratique du yoga, une discipline physique, mentale et spirituelle d'origine indienne</p>
						</div>
					</div>
				</div>

				<!-- Service -->
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service">
						<div class="service_title_container d-flex flex-row align-items-center justify-content-start">
							<div><div class="service_icon"><img src="assets//icon_6.png" alt=""></div></div>
							<div class="service_title">Cours de spinning</div>
						</div>
						<div class="service_text">
							<p>Nos cours sont conçus pour vous offrir une séance d'entraînement intense et énergisante, où vous pédalerez au rythme de la musique sous la direction d'un instructeur passionné</p>
						</div>
					</div>
				</div>

				<!-- Service -->
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service">
						<div class="service_title_container d-flex flex-row align-items-center justify-content-start">
							<div><div class="service_icon"><img src="assets//icon_7.png" alt=""></div></div>
							<div class="service_title">Cours de fitness</div>
						</div>
						<div class="service_text">
							<p> Ces séances d'entraînement individuelles ou en petit groupe sont conçues sur mesure pour répondre à vos besoins spécifiques en matière de remise en forme</p>
						</div>
					</div>
				</div>

				<!-- Service -->
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service">
						<div class="service_title_container d-flex flex-row align-items-center justify-content-start">
							<div><div class="service_icon"><img src="assets//icon_8.png" alt=""></div></div>
							<div class="service_title">Cours de nutrition</div>
						</div>
						<div class="service_text">
							<p> Ces séances interactives vous guideront à travers les principes de la nutrition, vous aidant à comprendre comment choisir des aliments qui favorisent la santé et le bien-être.</p>
						</div>
					</div>
				</div>

				<!-- Service -->
				<div class="col-xl-4 col-md-6 service_col">
					<div class="service">
						<div class="service_title_container d-flex flex-row align-items-center justify-content-start">
							<div><div class="service_icon"><img src="assets//icon_9.png" alt=""></div></div>
							<div class="service_title">Cours de Pilates</div>
						</div>
						<div class="service_text">
							<p>Lors d'une classe de Pilates, les participants effectuent une série d'exercices au sol ou sur des équipements spécifiques tels que le Reformer, le Cadillac ou le Wunda Chair. </p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Blog -->

	<div class="blog">
		<div class="blog_overlay"></div>
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="assets//blog.jpg" data-speed="0.8" style="background-image:url(assets/blog.jpg)"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class=" d-flex flex-row align-items-start justify-content-start">
						<div class="section_title_container">
							<div class="section_subtitle"></div>
							<div class="section_title">Blog</div>
						</div>
						<div class="all_posts_link ml-auto"><a href="#">Voir tous les articles de blog</a></div>
					</div>
				</div>
			</div>
			<div class="row blog_row">
				
				<!-- Blog Post -->
				<div class="col-lg-4 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="assets//blog_1.jpg" alt=""></div>
						<div class="blog_post_title"><a href="#">Conseils pour obtenir le corps parfait</a></div>
						<div class="blog_post_date"><a href="#"></a></div>
						<div class="blog_post_text">
							<p>Ces ressources fournissent des conseils, des recommandations et des stratégies pour aider les gens à atteindre leurs objectifs de remise en forme, à améliorer leur santé physique et à adopter un mode de vie plus sain.</p>
						</div>
						<div class="blog_post_link"><a href="#">Voir plus</a></div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-lg-4 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="assets//blog_2.jpg" alt=""></div>
						<div class="blog_post_title"><a href="#">
							Conseils pour le corps parfait</a></div>
						<div class="blog_post_date"><a href="#"></a></div>
						<div class="blog_post_text">
							<p>Ces conseils peuvent inclure des suggestions sur l'alimentation, l'exercice, le sommeil, la gestion du stress et d'autres aspects liés à la santé et au bien-être</p>
						</div>
						<div class="blog_post_link"><a href="#">Voir-plus</a></div>
					</div>
				</div>

				<!-- Blog Post -->
				<div class="col-lg-4 blog_col">
					<div class="blog_post">
						<div class="blog_post_image"><img src="assets//blog_3.jpg" alt=""></div>
						<div class="blog_post_title"><a href="#">Pilates pour débutants</a></div>
						<div class="blog_post_date"><a href="#"></a></div>
						<div class="blog_post_text">
							<p>Que vous soyez nouveau dans le monde du Pilates ou que vous souhaitiez revoir les bases, cette vidéo vous guidera à travers des exercices simples et efficaces pour renforcer votre corps et améliorer votre bien-être général.</p>
						</div>
						<div class="blog_post_link"><a href="#">Voir-Plus</a></div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="footer_container">
						<div class="footer_content">
							<div class="footer_logo">
								<a href="#">
									<div class="logo d-flex flex-row align-items-center justify-content-center"><img src="assets//dot.png" alt=""><div>FIT<span>-TOGETHER</span></div></div>
								</a>
							</div>
							<nav class="footer_nav">
								<ul class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center justify-content-center">
									<li><a [routerLink]="['/Acceuil']">Acceuil</a></li>
									<li><a [routerLink]="['/about-us']">A Propos</a></li>
									<li><a [routerLink]="['/service']">Services</a></li>
									<li><a [routerLink]="['/post']">Post</a></li>
									<li><a [routerLink]="['/contact']">Contact</a></li>
								</ul>
							</nav>
							<div class="newsletter_container">
								<form action="#" id="newsletter_form" class="newsletter_form">
									<input type="text" class="newsletter_input" placeholder="veillez saisir votre mail" required="required">
									<button class="newsletter_button">go</button>
								</form>
							</div>
							<div class="copyright d-flex flex-row align-items-start justify-content-sm-end justify-content-center"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  <i class="fa fa-heart-o" aria-hidden="true"></i> by fatima <a  target="_blank"></a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
						</div>
						<div class="footer_image text-center"><img src="assets//footer.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>

<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/styles/bootstrap-4.1.2/popper.js"></script>
<script src="assets/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="assets/plugins/greensock/TweenMax.min.js"></script>
<script src="assets/plugins/greensock/TimelineMax.min.js"></script>
<script src="assets/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="assets/plugins/greensock/animation.gsap.min.js"></script>
<script src="assets/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="assets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="assets/plugins/easing/easing.js"></script>
<script src="assets/plugins/progressbar/progressbar.min.js"></script>
<script src="assets/plugins/parallax-js-master/parallax.min.js"></script>
<script src="assets/plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="assets/js/custom.js"></script>
</body>
</html>