<!-- <p>about-us works!</p> -->
<!DOCTYPE html>
<html lang="en">
<head>
<title>About us</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="SportFIT template project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="about-us.component.css">
</head>
<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="header_content d-flex flex-row align-items-center justify-content-start trans_400">
						<a href="#">
							<div class="logo d-flex flex-row align-items-center justify-content-start"><img src="assets/dot.png" alt=""><div>FIT<span>-TOGETHER</span></div></div>
						</a>
						<nav class="main_nav">
							<ul class="d-flex flex-row align-items-center justify-content-start">
								<li><a [routerLink]="['/Acceuil']">Acceuil</a></li>
								<li class="active"><a [routerLink]="['/about-us']">A Propos</a></li>
								<li><a [routerLink]="['/service']">Services</a></li>
								<li><a [routerLink]="['/post']">Post</a></li>
							</ul>
						</nav>
						<div class="phone d-flex flex-row align-items-center justify-content-start ml-auto">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<div>221-78-160-18-07</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Hamburger -->
	
	<div class="hamburger_bar trans_400 d-flex flex-row align-items-center justify-content-start">
		<div class="hamburger">
			<div class="menu_toggle d-flex flex-row align-items-center justify-content-start">
				<span>menu</span>
				<div class="hamburger_container">
					<div class="menu_hamburger">
						<div class="line_1 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
						<div class="line_2 hamburger_lines" style="visibility: inherit; opacity: 1;"></div>
						<div class="line_3 hamburger_lines" style="transform: matrix(1, 0, 0, 1, 0, 0);"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Menu -->

	<div class="menu trans_800">
		<div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
			<ul>
				<li><a [routerLink]="['/Acceuil']">Acceuil</a></li>
				<li><a [routerLink]="['/about-us']">A Propos</a></li>
				<li><a [routerLink]="['/service']">Services</a></li>
				<li><a [routerLink]="['/post']">Post</a></li>
			</ul>
		</div>
		<div class="menu_phone d-flex flex-row align-items-center justify-content-start">
			<i class="fa fa-phone" aria-hidden="true"></i>
				<span>221-160-18-07</span>
		</div>
	</div>

	<!-- Home -->

	<div class="home">
		<div class="background_image" style="background-image:url(assets/about_page.jpg)"></div>
		<div class="overlay"></div>
		<div class="home_container">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="home_content">
							<div class="home_title">A Propos</div>
							<div class="home_subtitle">
								Pilates, Yoga, Fitness bien plus encore</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- About -->

	<div class="about">
		<div class="container about_container">
			<div class="row">
				<div class="col-lg-6">
					<div class="about_content">
						<div class="section_title_container">
							<div class="section_subtitle">welcome to fit-together</div>
							<div class="section_title">About <span>Fit-together</span></div>
						</div>
						<div class="text_highlight">Bienvenue sur Fit-Together, votre destination ultime pour une vie plus saine et plus active. Chez Fit-Together, nous croyons fermement que le bien-être physique est essentiel pour mener une vie épanouissante.</div>
						<div class="about_text">
							<p> C'est pourquoi nous avons créé une plateforme en ligne qui vous permet de vous entraîner où que vous soyez, quand vous le voulez.Que vous soyez un débutant complet ou un expert du fitness, notre plateforme offre une variété de programmes d'entraînement adaptés à tous les niveaux. Du Pilates apaisant au Yoga revitalisant, en passant par des séances de Fitness dynamiques et des cours de Spinning énergisants, nous avons tout ce dont vous avez besoin pour atteindre vos objectifs de remise en forme.</p>
						</div>
						<div class="button about_button"><a href="#">Rejoignez-Nous</a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="about_background">
			<div class="about_image"><img src="assets/a2.png" alt=""></div>
		</div>
	</div>

	<!-- Team -->

	<div class="team">
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="" data-speed="0.8" style="background-image:url(assets/blog.jpg)"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section_title_container">
						<div class="section_subtitle"></div>
						<div class="section_title">Les coachs</div>
					</div>
				</div>
			</div>
			<div class="row team_row">
				
				<!-- Team Member -->
				<div class="col-lg-4 team_col">
					<div class="team_item">
						<div class="team_image"><img src="assets/team_1.jpg" alt=""></div>
						<div class="team_panel d-flex flex-column align-items-center justify-content-center text-center">
							<div class="team_name"><a href="#">Moussa fall</a></div>
							<div class="team_title">Coch</div>
						</div>
					</div>
				</div>

				<!-- Team Member -->
				<div class="col-lg-4 team_col">
					<div class="team_item">
						<div class="team_image"><img src="assets/team_2.jpg" alt=""></div>
						<div class="team_panel d-flex flex-column align-items-center justify-content-center text-center">
							<div class="team_name"><a href="#">Lobe Dia</a></div>
							<div class="team_title">Coach</div>
						</div>
					</div>
				</div>

				<!-- Team Member -->
				<div class="col-lg-4 team_col">
					<div class="team_item">
						<div class="team_image"><img src="assets/team_3.jpg" alt=""></div>
						<div class="team_panel d-flex flex-column align-items-center justify-content-center text-center">
							<div class="team_name"><a href="#">Amadem -fall</a></div>
							<div class="team_title">Coach</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- Skills -->

	<div class="skills">
		<div class="container">
			<div class="row row-lg-eq-height">
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2">
					<div class="footer_container">
						<div class="footer_content">
							<div class="footer_logo">
								<a href="#">
									<div class="logo d-flex flex-row align-items-center justify-content-center"><img src="assets//dot.png" alt=""><div>FIT<span>-TOGETHER</span></div></div>
								</a>
							</div>
							<nav class="footer_nav">
								<ul class="d-flex flex-sm-row flex-column align-items-sm-start align-items-center justify-content-center">
									<li><a [routerLink]="['/Acceuil']">Acceuil</a></li>
									<li><a [routerLink]="['/about-us']">A Propos</a></li>
									<li><a [routerLink]="['/service']">Services</a></li>
									<li><a [routerLink]="['/post']">Post</a></li>
								</ul>
							</nav>
							<div class="newsletter_container">
								<form action="#" id="newsletter_form" class="newsletter_form">
									<input type="text" class="newsletter_input" placeholder="veillez saisir votre mail" required="required">
									<button class="newsletter_button">go</button>
								</form>
							</div>
							<div class="copyright d-flex flex-row align-items-start justify-content-sm-end justify-content-center">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  <i class="fa fa-heart-o" aria-hidden="true"></i> by fatima <a  target="_blank"></a>
</div>
						</div>
						<div class="footer_image text-center"><img src="assets//footer.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="assets/js/jquery-3.2.1.min.js"></script>
	<script src="assets/styles/bootstrap-4.1.2/popper.js"></script>
	<script src="assets/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
	<script src="assets/plugins/greensock/TweenMax.min.js"></script>
	<script src="assets/plugins/greensock/TimelineMax.min.js"></script>
	<script src="assets/plugins/scrollmagic/ScrollMagic.min.js"></script>
	<script src="assets/plugins/greensock/animation.gsap.min.js"></script>
	<script src="assets/plugins/greensock/ScrollToPlugin.min.js"></script>
	<script src="assets/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
	<script src="assets/plugins/easing/easing.js"></script>
	<script src="assets/plugins/progressbar/progressbar.min.js"></script>
	<script src="assets/plugins/parallax-js-master/parallax.min.js"></script>
	<script src="assets/plugins/colorbox/jquery.colorbox-min.js"></script>
	<script src="assets/js/about.js"></script>
	
</div>
</body>
</html>
